<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <div class="about">
        <h1> About - <%= title %></h1>
        <p> About the Jobs Data Search Analyzer </p>
      </div>
      <!-- navigation -->
      <nav class="navigation">
        <a href="/home"> Home </a>
        <a href="/api"> API </a>
      </nav>
    </main>
  </body>
</html>
