<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <main>
          <h1><%= title %> </h1>
          <p>Welcome to the <%= title %></p>
          <nav class="navigation">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/api/data">Data</a>
          </nav>
      </main>
  </body>
</html>
