<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- others css -->
    <link rel="stylesheet" href="../static/css/default-css.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>

<body>
    <div>
        <p>welcome to JDA-12</p>
    </div>
</body>