<footer>
<div class="footer">
<div class="fwrapper">
<!-- col1 -->
<div class="col1">
    <p>some content goes here.</p>
</div>
<div class="col2">
    <p>some content goes here. </p>
</div>
<div class="col3">
    <p>some content goes here.</p>
</div>
</div>
</div>
</footer>
