<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <div class="description">
        <h1>Home - <%= title %></h1>
        <p>Welcome to <%= title %> </p>
      </div>
      <nav class="navigation">
        <a href="/about"> About </a>
        <a href="/api"> API </a>
      </nav>
    </main>
  </body>
</html>
